<form class="transaction-form">
    <div class="transaction-form__currency">
        <label for="">Валюта</label>
        <select name="" id=""></select>
    </div>
    <div class="transaction-form__amount">
        <label for="">Сумма</label>
        <input type="number" name="" id="">
    </div>
    <div class="transaction-form__date">
        <label for="">Дата</label>
        <input type="text" name="" id="">
    </div>
    <div class="transaction-form__agent">
        <label for="">От кого</label>
        <input type="text" name="" id="">
    </div>
    <div class="transaction-form__description">
        <label for="">Описание</label>
        <input type="text" name="" id="">
    </div>
</form>

<!-- Финансовая транзакция:
Сумма транзакции
Валюта
От кого транзакция
Описание
Приход или расход
Дата
Тип события

При клике на событие открываем подробную информацию, 
либо переход на отдельный роут в рамках вашего приложения, 
либо красиво открыть на той же странице, где есть описание и кнопка “Удалить”. -->