<form class="transaction-form">
    <div class="transaction-form__control">
        <label class="transaction-form__field-label" for="currency">Валюта</label>
        <select class="transaction-form__field" id="currency">
            <!-- [(ngModel)]="eventType" -->
            <ng-container *ngFor="let c of currencies | enum2Array">
                <option value="{{c}}">{{c}}</option>
            </ng-container>
        </select>
    </div>
    <div class="transaction-form__control">
        <label class="transaction-form__field-label" for="amount">Сумма</label>
        <input class="transaction-form__field" type="number" name="" id="amount">
    </div>
    <div class="transaction-form__control">
        <label class="transaction-form__field-label" for="amount">Дата</label>
        <input class="transaction-form__field" type="text" name="" id="amount">
    </div>
    <div class="transaction-form__control">
        <label class="transaction-form__field-label" for="agent">От кого</label>
        <input class="transaction-form__field" type="text" name="" id="agent">
    </div>
    <div class="transaction-form__control">
        <label class="transaction-form__field-label" for="description">Описание</label>
        <textarea class="transaction-form__field" id="description" rows="8"></textarea>
    </div>
</form>

<!-- Финансовая транзакция:
Сумма транзакции
Валюта
От кого транзакция
Описание
Приход или расход
Дата
Тип события

При клике на событие открываем подробную информацию, 
либо переход на отдельный роут в рамках вашего приложения, 
либо красиво открыть на той же странице, где есть описание и кнопка “Удалить”. -->