<form [formGroup]="form" class="transaction-form">
    <div class="transaction-form__control">
        <label class="transaction-form__field-label" for="currency">Валюта</label>
        <select formControlName="currency" class="transaction-form__field" id="currency">
            <option value="{{currencies.RUB}}">RUB</option>
            <option value="{{currencies.USD}}">USD</option>
            <option value="{{currencies.EUR}}">EUR</option>
        </select>
    </div>
    <div class="transaction-form__control">
        <label class="transaction-form__field-label" for="amount">Сумма</label>
        <input formControlName="amount" class="transaction-form__field" type="number" id="amount">
    </div>
    <div class="transaction-form__control">
        <label class="transaction-form__field-label" for="date">Дата</label>
        <input formControlName="date" class="transaction-form__field" type="date" id="date">
    </div>
    <div class="transaction-form__control">
        <label class="transaction-form__field-label" for="agent">От кого</label>
        <input formControlName="agent" class="transaction-form__field" type="text" id="agent">
    </div>
    <div class="transaction-form__control">
        <label class="transaction-form__field-label" for="description">Описание</label>
        <textarea formControlName="description" class="transaction-form__field" id="description" rows="8"></textarea>
    </div>
</form>
<!-- <p>Form: {{ form.value | json }}</p> -->

<!-- Финансовая транзакция:
Сумма транзакции
Валюта
От кого транзакция
Описание
Приход или расход
Дата
Тип события

При клике на событие открываем подробную информацию, 
либо переход на отдельный роут в рамках вашего приложения, 
либо красиво открыть на той же странице, где есть описание и кнопка “Удалить”. -->