@mixin tochka-shadows-main {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 38px rgba(0, 0, 0, 0.05), 0 0 12px rgba(0, 0, 0, 0.05);
}
@mixin tochka-shadows-popup {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.15), 0 10px 12px rgba(0, 0, 0, 0.11);
}
@mixin tochka-shadows-block {
    box-shadow: 0 3px 38px rgba(0, 0, 0, 0.05), 0 0 12px rgba(0, 0, 0, 0.05);
}
@mixin page-block {
    @include tochka-shadows-main;
    max-width: 700px;
    padding: 25px 20px;
    margin-top: 20px;    
    margin-bottom: 20px;    
    background-color: #fff;
}

@mixin form-control {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
};

@mixin form-control-label {
    margin-bottom: 8px;
    font-weight: bold;
    display: block;
}