$tochka-colors-background-white: #fff;
$tochka-colors-background-highlight-solid: #eae7e7;
$tochka-colors-background-basic: #f7f3f3;
$tochka-colors-background-pay-yellow: #fff2cc;
$tochka-colors-text-black: #231f20;
$tochka-colors-text-dark-gray: #454545;
$tochka-colors-text-middle-gray: #6f6f6f;
$tochka-colors-text-light-gray: #a3a2a2;
$tochka-colors-text-soft-gray: #cbcaca;
$tochka-colors-text-white: #fff;
$tochka-colors-text-red: #ed1414;
$tochka-colors-text-green: #27b401;
$tochka-colors-text-blue: #0095ff;
$tochka-colors-text-dark-blue: #0073c3;
$tochka-colors-text-orange: #f7941d;
