<div class="add-event">
    <h2 class="add-event__title">Добавить событие</h2>
    <select class="add-event__type-select" [(ngModel)]="eventType">
        <option value="{{types.News}}" selected>Новость</option>
        <option value="{{types.Transaction}}">Транзакция</option>
    </select>
    <ng-container [ngSwitch]="eventType">
        <app-news-form *ngSwitchCase="types.News" 
            (formChange)="onFormChange(types.News, $event)"></app-news-form>
        <app-transaction-form *ngSwitchCase="types.Transaction"
            (formChange)="onFormChange(types.Transaction, $event)"></app-transaction-form>
    </ng-container>
</div>
<div class="aqua-button">
    <span class="aqua-button__bg"></span>
    <a class="aqua-button__title" (click)="addEvent()">Добавить</a>
</div>
<a routerLink="/timeline" class="link-button">Вернуться на Timeline</a>

<p>newEvent: {{ newEvent | json }}</p>