<div class="add-event">
    <h2 class="add-event__title">Добавить событие</h2>
    <label for="id">Идентификатор</label>
    <input id="id" class="" [(ngModel)]="newEvent.id">
    <ng-container [ngSwitch]="type">
        <app-news-form *ngSwitchCase="types.News"></app-news-form>
        <app-transaction-form *ngSwitchCase="types.Transaction"></app-transaction-form>
    </ng-container>
</div>
<div class="aqua-button">
    <span class="aqua-button__bg"></span>
    <a class="aqua-button__title" (click)="addEvent()">Добавить</a>
</div>
<div class="link-button">
    <a routerLink="/" class="">Вернуться на Timeline</a>
</div>