<form class="news-form" [formGroup]="form">
    <div class="news-form__control">
        <label class="news-form__field-label" for="title">Заголовок</label>
        <input formControlName="title" class="news-form__field" type="text" id="title">
    </div>
    <div class="news-form__control">
        <label class="news-form__field-label" for="date">Дата</label>
        <input formControlName="date"class="news-form__field" type="date" id="date">
    </div>
    <div class="news-form__control">
        <label class="news-form__field-label" for="content">Содержание</label>
        <textarea formControlName="content" class="news-form__field" id="content" rows="8"></textarea>
        
    </div>
</form>