<div class="timeline">
    <h2 class="timeline__title">Timeline</h2>
    <app-event-sorting></app-event-sorting>
    <div class="timeline__list" >
        <app-event-list [eventList]="events | async"></app-event-list>
    </div>
    <div class="aqua-button">
        <span class="aqua-button__bg"></span>
        <a class="aqua-button__title" routerLink="/timeline/add">Добавить</a>
    </div>
</div>

<ng-template #loading>
    <div class="timeline__loader">
        Загрузка...
    </div>
</ng-template>