<div class="timeline">
    <h2 class="timeline__title">Timeline</h2>
    <app-event-sorting
        (changeSortingType)="onChangeSorting($event)"
    ></app-event-sorting>
    <div class="timeline__list" >
        <ng-container *ngIf="(events$ | async) as eventList else loading">
            <app-event-list [eventList]="eventList"></app-event-list>
        </ng-container>
    </div>
    <div class="aqua-button">
        <span class="aqua-button__bg"></span>
        <a class="aqua-button__title" routerLink="/timeline/add">Добавить</a>
    </div>
</div>

<ng-template #loading>
    Загрузка...
</ng-template>