<a class="transaction" [routerLink]="['transactions', event.id ]">
    <div class="transaction__date">
        {{ event.date | date:"dd.MM.yyyy" }}
    </div>
    <div class="transaction__amount"
        [class.transaction__amount--green]="event.amount >= 0" 
        [class.transaction__amount--red]="event.amount < 0">
        <span class="transaction__plus-sign" *ngIf="event.amount >= 0">+</span>{{ event.amount }}
        {{ event.currency }}
    </div>
    <div class="transaction__agent">
        {{ event.agent }}
    </div>
</a>

<!-- У финансовой транзакции в списке отображаем приход или расход 
    (выделить цветом и знаком +-), сумму, валюта, дата, и от кого транкзация. -->