@import '~src/styles/variables';

.news {
    padding: 15px;
    font-weight: 700;
    text-decoration: none;
    display: block;
    color: $tochka-colors-text-black;
    &--read {
        font-weight: 400;
        color: $tochka-colors-text-light-gray;
        background-color: $tochka-colors-background-pay-yellow;
    }
    &:hover {
        background-color: $tochka-colors-background-highlight-solid;
        cursor: pointer;
    }    
}