<div class="news">
    <h2 class="news__title">{{ news?.title }}</h2>
    <div class="news__container" *ngIf="news else loading">
        <span class="news__date">{{ news.date | date:"dd.MM.yyyy" }}</span>
        <div class="news__content">
            {{ news.content }}
        </div>
    </div>
</div>
<div class="aqua-button" *ngIf="news?.isUnread">
    <span class="aqua-button__bg"></span>
    <a class="aqua-button__title" (click)="haveRead()">Ознакомлен</a>
</div>
<a routerLink="/" class="link-button">Вернуться на Timeline</a>


<ng-template #loading>
    <div class="news__loader">
        Загрузка...
    </div>
</ng-template>