.transaction {
    &__container {
        padding: 25px 20px;        
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        box-shadow: 0 3px 38px rgba(0, 0, 0, 0.05), 0 0 12px rgba(0, 0, 0, 0.05);
        background-color: #fff;
        margin-bottom: 20px;
    }

    &__date {
        color: #a3a2a2;
    }
}
