<div class="transaction">
    <h2 class="transaction__title">Транзакция</h2>
    <div class="transaction__container">
        <span class="transaction__date">20.05.2018 г.</span>
        <div class="transaction__content">
            <p>
                transaction-page works!
            </p>
        </div>
    </div>
    <div class="aqua-button">
        <span class="aqua-button__bg"></span>
        <a routerLink="/timeline" class="aqua-button__title">timeline</a>
    </div>
    <div class="aqua-button">
        <span class="aqua-button__bg"></span>
        <a routerLink="/timeline" class="aqua-button__title">Удалить</a>
    </div>
</div>