@import '~src/styles/variables';

.transaction {
    font-weight: 700;
    padding: 15px;
    display: flex;
    &__date {
        width: 100px;
        color: $tochka-colors-text-light-gray;
    }
    &__amount {
        width: 130px;
        text-align: right;
        &--green{
            color: $tochka-colors-text-green;
        }
        &--red{
            color: $tochka-colors-text-red;
        }
    }
    &__agent {
        margin-left: 25px;
    }
    &:hover {
        background-color: $tochka-colors-background-highlight-solid;
        cursor: pointer;
    }
}